* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    background-size: cover;
    display: flex;
    isolation: isolate;
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
}

body::before, body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

body::before {
    z-index: -2;
    background-size: cover;
    background-position: center;
    filter: blur(6px);
}

body::after {
    background: var(--theme);
    z-index: -1;
}

h1 {
    font-size: min(48px, 12vw);
    line-height: 1.25;
}

h3 {
    font-size: min(1.375rem, 8vw);
}

h4 {
    font-size: min(1.125rem, 6vw);
}

h5 {
    font-size: min(1rem, 5vw);
    font-weight: 400;
}

h6 {
    font-size: min(0.75rem, 4vw);
    font-weight: 400;
}

p {
    font-size: min(0.625rem, 3.5vw);
    font-weight: 400;
}

main {
    max-width: 1920px;
    margin: auto;
    overflow: hidden;
}

.error-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    gap: 1.25rem;
    padding: 60px max(4%, 16px);
}

header {
    padding: 0 max(16px, 1%);
    display: flex;
    align-items: center;
    height: auto;
}

header img {
    max-width: 14.5rem;
    object-fit: cover;
    height: auto;
}

.player-control-container {
    width: 100%;
    overflow: hidden;
    min-width: 0;
    align-self: stretch;
    padding: 12px 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.play-episode-container {
    margin: 1.5rem 0;
}

.play-episode-container {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
}

#play-pause-button-icons {
    min-width: calc(36px + 1.5rem);
    height: calc(36px + 1.5rem);
    cursor: pointer;
    position: relative;
}

#play-pause-button-icons svg {
    position: absolute;
    inset: 0;
}

#play-pause-button-icons .pause-icon {
    opacity: 0;
}

.play-title-time-text {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.playing-active .play-icon {
    opacity: 0 !important;
}

.playing-active .pause-icon {
    opacity: 1 !important;
}

#episode-selected-time {
    margin-top: 0.5rem;
    display: flex;
}

#episode-selected-time h5:nth-child(2) {
    margin: 0 0.375rem 0 0;
}

.player-episode-description-container {
    overflow: hidden;
    margin: 0 -0.75rem;
    -webkit-mask-image: -webkit-linear-gradient(left, transparent 0, black 0.75rem, black calc(100% - 0.75rem), transparent 100%);
    padding: 0 0.75rem;
}

#player-episode-description {
    white-space: nowrap;
    position: relative;
}

#player-episode-description br {
    display: none;
}

#play-progress-bar {
    cursor: pointer;
    margin-top: 0.75rem;
    width: 100%;
    height: calc(12px + 0.75rem);
    border-radius: 2rem;
    background: var(--progressBarColor);
    position: relative;
    overflow: hidden;
}

#play-progress-bar #progress-duration-filler {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color1);
    border-radius: 2rem;
    transition: 0.08s;
    pointer-events: none;
}

#episodes-list {
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
}

#episodes-list li {
    display: flex;
    align-items: center;
    padding: 8px max(16px, 1%);
    min-width: 0;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}

#episodes-list li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    inset: 0;
    transition: var(--transition);
    opacity: 0.2;
} 

#episodes-list li:hover::before {
    background: var(--color1);
}

#episodes-list p {
    -webkit-mask-image: -webkit-linear-gradient(left, black 0px, black calc(100% - 16px), transparent 100%);
}

#episodes-list .episode-list-image-play {
    position: relative;
    max-width: 2.5rem;
    display: flex;
}

#episodes-list .episode-list-image-play svg {
    position: absolute;
    width: 75%;
    height: 75%;
    inset: 0;
    margin: auto;
    opacity: 0;
    transition: var(--transition);
    mix-blend-mode: plus-lighter;
}

#episodes-list li img {
    max-width: 100%;
    border-radius: 0.25rem;
}

.episode-list-title-description {
    margin-left: 1rem;
    min-width: 0;
    z-index: 1;
    width: 100%;
}

#player-episode-description {
    transition: 0.01s;
}

.episode-list-title-description p {
    white-space: nowrap;
    margin-top: 0.25rem;
}

.list-item-active::before {
    opacity: 1 !important;
    background: var(--highlightcolor);
}

.list-item-active img {
    mix-blend-mode: overlay;
}

.list-item-active .episode-list-image-play svg {
    opacity: 0.4 !important;
}

@media(max-width: 640px) {
    header {
        flex-direction: column;
    }

    header img {
        display: block;
        margin: 0 auto;
        max-width: min(12vh, 100%);
    }

    .player-control-title-links {
        text-align: center;
    }

    .play-title-time-text {
        flex-direction: column-reverse;
    }

    .play-episode-container {
        justify-content: center;
    }

    #episode-selected-time {
        justify-content: center;
    }

    #episode-selected-title {
        margin-top: 1rem;
    }

    .play-episode-container {
        flex-direction: column;
        text-align: center;
    }

    .play-title-time-text {
        margin: 0;
    }

    #play-pause-button-icons {
        margin-bottom: 0.5rem;
    }

    .player-control-container {
        padding: 20px 0 0;
    }

}

/* Scrollbar Styling */

::-webkit-scrollbar {
    width: min(0.75rem, 8vw);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.25rem var(--scrollbarcolor); 
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbarcolor); 
    border-radius: 10px;
}
