@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body {
    background-size: cover;
    isolation: isolate;
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
}

body::before, body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

body::before {
    z-index: -2;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
}

body::after {
    background: #000;
    z-index: -1;
    opacity: 0.85;
}

h1 {
    font-size: min(48px, 12vw);
    line-height: 1.25;
}

h3 {
    font-size: min(1.375rem, 8vw);
}

h4 {
    font-size: min(1.125rem, 6vw);
}

h5 {
    font-size: min(1rem, 5vw);
    font-weight: 400;
}

h6 {
    font-size: min(0.75rem, 4vw);
    font-weight: 400;
}

p {
    font-size: min(0.625rem, 3.5vw);
    font-weight: 400;
}

main {
    padding: 20px max(16px, 1%);
    max-width: 1200px;
    margin: 0 auto;
    background: #00000090;
}

.error-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    gap: 1.25rem;
    padding-top: 60px;
    padding-bottom: 60px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

header img {
    max-width: 14.5rem;
    object-fit: cover;
    height: 100%;
}

.player-control-container {
    width: 100%;
    overflow: hidden;
    min-width: 0;
    align-self: stretch;
    padding: 12px 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-control-title-links {
    color: #fff;
}

.play-episode-container {
    margin: 1.5rem 0;
}

.play-episode-container {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
}

#play-pause-button-icons {
    min-width: calc(36px + 1.5rem);
    height: calc(36px + 1.5rem);
    cursor: pointer;
    position: relative;
}

#play-pause-button-icons svg {
    position: absolute;
    inset: 0;
}

#play-pause-button-icons .pause-icon {
    opacity: 0;
}

.play-title-time-text {
    margin-left: 24px;
}

.playing-active .play-icon {
    opacity: 0 !important;
}

.playing-active .pause-icon {
    opacity: 1 !important;
}

#episode-selected-time {
    margin-top: 0.5rem;
    display: flex;
}

#episode-selected-time h6:nth-child(2) {
    margin: 0 0.375rem 0 0;
}

.player-episode-description-container {
    overflow: hidden;
    margin: 0 -0.75rem;
    -webkit-mask-image: -webkit-linear-gradient(left, transparent 0, black 0.75rem, black calc(100% - 0.75rem), transparent 100%);
    padding: 0 0.75rem;
}

#player-episode-description {
    white-space: nowrap;
    position: relative;
}

#play-progress-bar {
    cursor: pointer;
    margin-top: 0.75rem;
    width: 100%;
    height: calc(12px + 0.75rem);
    border-radius: 2rem;
    background: rgb(102, 102, 102);
    position: relative;
    overflow: hidden;
}

#play-progress-bar #progress-duration-filler {
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 2rem;
    transition: 0.15s;
    pointer-events: none;
}

#episodes-list {
    list-style: none;
}

#episodes-list li {
    display: flex;
    align-items: center;
    padding: 8px max(12px, 1%) 8px 0;
    min-width: 0;
    overflow: hidden;
    cursor: pointer;
}

#episodes-list li img {
    max-width: 2.5rem;
    border-radius: 0.25rem;
}

.episode-list-title-description {
    margin-left: 1rem;
}

.episode-list-title-description p {
    white-space: nowrap;
}

@media(max-width: 720px) {
    header {
        flex-direction: column;
    }

    header img {
        display: block;
        margin: 0 auto;
        max-width: min(280px, 100%);
    }

    .player-control-title-links {
        margin-top: 1rem !important;
        text-align: center;
    }
}

@media(max-width: 480px) {
    .play-episode-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .play-title-time-text {
        margin: 0;
    }

    #play-pause-button-icons {
        margin-top: 1.5rem;
    }

    #episode-selected-time {
        justify-content: center;
        margin-left: -0.75rem;
    }
}
